html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



body {
  font-family: "Roboto", "Arial", sans-serif;
  background-color: #C9F8FE;
  font-size: 14px;
  font-weight: 500;
}

.container {
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.site_fex {
  display: flex;
  padding-top: 50px;
}

.site-press {}

.site_press_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../img/background.jpg );
  background-repeat: no-repeat;
  background-size: cover;
  /* align-items: center; */
  width: 400px;
  color: #fff;
  padding: 144px 0px 144px 80px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background: rgb(83, 175, 137); */
  background-color: #2f7665a6;
  border: 0;
  padding: 0;
  /* opacity: 0.5; */
  color: #fff;
  width: 121px;
  padding: 8px;
  border-radius: 21px;
}

.site-article_main {
  width: 500px;
}

.site_press_page_heading {
  padding: 0;
  font-size: 25px;
}

.site_press_page_text {
  font-weight: 500;
  font-size: 16px;
}

.site_article {
  background-color: #fff;
  padding: 35px;
}

.site_article_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.article_headeing {
  margin: 0;
}

.article_menu {
  display: block;
  height: 3px;

  margin-bottom: 2px;
  width: 20px;
  background: rgba(0, 0, 0, 0.733);
}

.site_year_list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.year_list_item {
  margin-left: 9px;
  font-size: 18px;
  font-weight: 700;
  opacity: 0.5;
}
.year_list_item:hover {
  opacity: 1;
}
.list_left {
  margin-left: auto;

}
.article_list img {
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 14px;
}
.article_list_left__number {
  display: flex;
  align-items: center;
}

.article_list_left__number p {
  font-size: 33px;
  font-weight: 300;
  margin: 0;
  margin-right: 8px;
}

.article_lists {
  padding-left: 0;
}

.article_list {
  display: flex;
  align-items: center;

}


.list_number {
  display: flex;
  flex-direction: column;
}

.list_yeat {
  font-weight: 700;
  text-transform: uppercase;
}